.headerImg {
  border-bottom: 2px solid #136880;
  opacity: 0.3;
  width: 100%;
  height: auto;
  z-index: -1;
  position: absolute; }

.loading {
  z-index: 9;
  position: absolute;
  left: 0;
  top: 0; }

.cats {
  color: #8cfb46; }
